@use 'variables' as var;

.gameover-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameover-screen {
    font-size: 2rem;
    width: 600px;
    text-align: center;
    background-color: var.$clr-start-screen;
    border-radius: 10px;
    padding: 1em;

    h2 {
        margin-top: 0.5em;
        font-size: 2rem;
    }

    button {
        font-size: inherit;
        color: var.$clr-font-color;

        background-color: var.$clr-background;

        margin-top: 2em;
        padding: 0.3em 1.5em;

        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}