@use 'variables' as var;

@font-face {
  src: url('../assets/fonts/Aldrich-Regular.ttf');
  font-family: 'Aldrich-Regular';
}

* {
    box-sizing: border-box;
    margin: 0;
}

:root {  
    font-family: 'Aldrich-Regular';
  
    color-scheme: light dark;
    color: var.$clr-font-color;
    background-color: var.$clr-background;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
  
body {
  min-width: 320px;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: var.$clr-font-color;
  background-color: var.$clr-background;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

h1 {
  text-shadow: 2px 2px 2px var.$clr-text-shadow;
}

button:hover, button:focus {
  opacity: 0.8;
  outline: 2px solid var.$clr-font-color;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.start-screen-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-screen {
  font-size: 2rem;
  width: 400px;
  text-align: center;
  background-color: var.$clr-start-screen;
  border-radius: 10px;
  padding: 0.5em 1em 1em;

  button {
      margin: 1em 0em;
      padding: 0.3em 1.5em;
  }

  .start-screen-settings {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    border-radius: 10px;
    background-color: var.$clr-background;
    padding: 0.2em 2em 0.2em 2em;
    margin: 0 auto;
  }
}

.gameover-screen {
  font-size: 2rem;
  width: 600px;
  text-align: center;
  background-color: var.$clr-start-screen;
  border-radius: 10px;
  padding: 1em;

  h2 {
      margin-top: 0.5em;
      font-size: 2rem;
  }

  button {
      margin-top: 2em;
      padding: 0.3em 1.5em;
  }
}


.box {
  position: absolute;
  border: 2px solid white;
  opacity: 1;
  cursor: pointer;
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.settings-bar {
  padding: 1em;
}

.info-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: flex-start;
  padding: 0em 3em;
  font-size: 2rem;
}

.gameover-screen-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.audio-mute {
  display: flex;
  align-items: center;
  width: 50px;
  background-color: var.$clr-background;
  border-radius: 50%;
  margin-left: auto;
  padding: 6px;
  cursor: pointer;
}

.audio-mute:hover, .audio-mute:focus {
  opacity: 0.8;
  outline: 2px solid var.$clr-font-color;
}